@import url(../vendor/normalize.css);

.page {
  width: 100%;
  min-height: 100vh;
  padding: 0 10px;
  box-sizing: border-box;
  background: center / cover url('../images/background.png');
  background-attachment: fixed;
}

.page__container {
  width: 100%;
}

.text-container {
  margin-top: -20px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
}