@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

.page {
  width: 100%;
  min-height: 100vh;
  padding: 0 10px;
  box-sizing: border-box;
  background: center / cover url('../images/background.png');
  background-attachment: fixed;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.page__container {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .page {
    padding: 0 5px;
  }
}
