.background {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url('../images/background.png');
  background-position: center;
  background-size: cover;
  z-index: -5;
  top: 0;
  left: 0;
  -webkit-transition: background-image .5s ease-in-out;
  transition: background-image .5s ease-in-out;
}

.background_blur {
  background-image: url('../images/background-blur.jpg'); 
}
