.background {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url('../images/background.png');
  background-position: center;
  background-size: cover;
  z-index: -5;
  top: 0;
  left: 0;
}

/* .background_blur {
  backdrop-filter: blur(3px);
} */
