.background {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-position: center;
  background-size: 300vh;
  z-index: -5;
  top: 0;
  left: 0;
  transition: background-image .4s linear;
}
