.blur__layer {
  position: fixed;
  width: 100%;
  height: 100vh;
  opacity: 0;
  background-color: black;
  top: 0;
  left: 0;
  transition: opacity .5s ease-in-out;
  z-index: -10;
}

.blur__layer_active {
  opacity: .6;
  backdrop-filter: blur(3px);
  z-index: 10;
}

.blur {
  filter: blur(3px);
}