.header {
  max-width: 1900px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  transition: filter .5s ease-in-out;
}

.header__logo {
  margin-top: 5px;
  margin-left: 5px;
}

.header__links {
  margin: 0;
}


@media screen and (max-width: 600px) {
  .header__logo {
    margin-top: 8px;
    margin-left: 4px;
  }

  .header__links {
    margin-top: 5px;
    margin-right: 0;
  }
}
