.header {
  max-width: 1900px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


/* Логотип магазина "Маршак" */

.header__logo {
  margin-top: 5px;
  margin-left: 5px;
}

.marshak-link {
  display: block;  
  transition: box-shadow .2s ease-out;
  -webkit-tap-highlight-color: transparent;
}

.marshak-link:hover {
  box-shadow: 0 6px 6px #ffffff40;
}

.marshak-logo {
  display: block;
  width: 50px;
  object-fit: contain;
}


/* Ссылки на стриминговые сервисы */

.header__links {
  margin: 0;
}

.stream-services {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.stream-services__links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.stream-services__link-container {
  margin-bottom: 8px;
  border: 2px solid #fff;
  border-radius: 30px;
  transition: box-shadow .2s ease-out;
  -webkit-tap-highlight-color: transparent;
}

.stream-services__link-container:last-child {
  margin-bottom: 0;
}

.stream-services__link-container:hover {
  box-shadow: 0 0 8px 4px #ffffff40;
}

.stream-services__link {
  display: inline-block;
  border-radius: 30px;
  /* border-radius продублирован, чтобы при трансформации текста 
  элемент не выходил за границу контейнера */
  padding: 8px 18px;
  color: #fff;
  text-decoration: none;
  transition: transform .2s ease-out;
}

.stream-services__link:hover {
  transform: skewX(-9deg);
}

.stream-services__button {
  max-width: 150px; /* for transition */
  min-width: 70px; /* for transition */
  margin-bottom: 8px;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 8px 20px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  font-size: inherit;
  line-height: inherit;
  overflow: hidden;
  transition: 
    box-shadow .2s ease-out, 
    max-width .3s linear,
    min-width .3s linear;
  -webkit-tap-highlight-color: transparent;
}

.stream-services__button:focus {
  outline: none;
}

.stream-services__button:hover {
  box-shadow: 0 0 8px 4px #ffffff40;
}

.stream-services__button_minimised {
  max-width: 30px; /* for transition */
  min-width: 30px; /* for transition */
  padding: 4px;
  line-height: 0;
}


@media screen and (max-width: 1024px) {
  .marshak-logo {
    width: 40px;
  }

  .stream-services {
    font-size: 15px;
  }

  .stream-services__link-container {
    margin-bottom: 6px;
  }

  .stream-services__link {
    padding: 8px 16px;
  }

}

@media screen and (max-width: 600px) {
  .header__logo {
    margin-top: 8px;
    margin-left: 4px;
  }

  .header__links {
    margin-top: 5px;
    margin-right: 0;
  }
}

@media screen and (max-width: 480px) {
  .marshak-logo {
    width: 24px;
  }

  .stream-services {
    font-size: 12px;
  }

  .stream-services__link-container {
    margin-bottom: 5px;
  }

  .stream-services__link {
    padding: 7px 14px;
  }

  .stream-services__button {
    padding: 7px 14px;
    margin-bottom: 5px;
  }

  .stream-services__button_minimised {
    padding: 4px;
    margin-bottom: 5px;
  }
}
