/* Стиль всей секции */
.info-container {
    margin-top: -10px;
    padding: 100px 52px;
    box-sizing: border-box;
    background-color: #fff;
    color: #000;
    font-weight: normal;
    border-radius: 10px;
}

/* Идея для мобильной верстки  */
@media screen and (max-width:480px) {
    .info-container {
      padding: 80px 20px 92px 20px;
    }
  }



