/* TODO: разбиение стилей соответсвенно компонентам */
/* TODO: мобильная версия */

/* Стиль всей секции */
.info-container {
    margin-top: -20px;
    padding: 100px 52px;
    box-sizing: border-box;
    background-color: #fff;
    color: #000;
    font-weight: normal;
    border-radius: 10px;
}

/* Идея для мобильной верстки  */
@media screen and (max-width:425px) {
    .info-container {
      /* max-width: calc(100% - 32px);
      margin: 0 20px; */
      padding: 92px 20px;
    }
  }



