.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 5px 30px;
  box-sizing: border-box;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .main {
    padding-bottom: 28px;
  }
}

@media screen and (max-width: 600px) {
  .main {
    padding: 8px 8px 28px;
  }
}
