.marshak {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.marshak__handlers {
  display: flex;
}


/* Логотип Маршак */

.marshak__main-link {
  display: block;  
  transition: box-shadow .2s ease-out;
  -webkit-tap-highlight-color: transparent;
}

.marshak__main-link:hover {
  box-shadow: 0 6px 6px #ffffff40;
}

.marshak__main-link:focus {
  outline: none;
  box-shadow: 0 6px 6px #ffffff40;
}

.marshak-logo {
  display: block;
  width: 35px;
  object-fit: contain;
}


/* Список ссылок на сервисы Маршак*/

.marshak__links {
  display: flex;
  margin: 0 0 0 17px;
  padding: 0;
  list-style: none;
}


/* Кнопка для отображения ссылок на сервисы Маршак */

.marshak__button {
  width: 34px;
  height: 34px;
  margin-right: 15px;
  padding: 0px;
  border: 2px solid #fff;
  border-radius: 30px;
  background-color: transparent;
  cursor: pointer;
  line-height: 0;
  transition: box-shadow .2s ease-out; 
  -webkit-tap-highlight-color: transparent;
}

.marshak__button:focus {
  outline: none;
}

.marshak__button:hover {
  box-shadow: 0 0 8px 4px #ffffff40;
}


@media screen and (max-width: 1024px) {
  .marshak {
    font-size: 15px;
  }

  .marshak-logo {
    width: 34px;
  }
}

@media screen and (max-width: 768px) {
  .marshak {
    flex-direction: column;
  }

  .marshak__links {
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 0 0 0;
  }
}

@media screen and (max-width: 480px) {
  .marshak {
    font-size: 12px;
  }

  .marshak-logo {
    width: 30px;
  }

  .marshak__button {
    width: 30px;
    height: 30px;
  }
}
