.marshak__link-container {
  margin-right: 8px;
  border-radius: 30px;
  text-align: center;
  transition: box-shadow .2s ease-out;
  -webkit-tap-highlight-color: transparent;
}

.marshak__link-container:last-child {
  margin-right: 0px;
}

.marshak__link-container:hover {
  box-shadow: 0 0 8px 4px #ffffff40;
}

.marshak__link {
  display: inline-block;
  border-radius: 30px;
  padding: 8px 18px;
  color: #fff;
  text-decoration: none;
  transition: transform .2s ease-out;
}

.marshak__link:hover {
  transform: skewX(-9deg);
}

@media screen and (max-width: 1024px) {
  .marshak__link {
    padding: 8px 16px;
  }
}

@media screen and (max-width: 768px) {
  .marshak__link-container {
    margin: 0 0 8px 0;
  }
}

@media screen and (max-width: 480px) {
  .marshak__link {
    padding: 7px 14px;
  }
}
