.title {
  align-self: center;
  margin: 0 auto;
  width: 100%;
  max-width: 760px;
  padding: 10px 20px 0;
  box-sizing: border-box;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: filter .5s ease-in-out;
}

.title_blur {
  filter: blur(3px);
  /* -webkit-filter: blur(5px);
  -moz-filter: blur(5px);  */
}

.title__logo {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .title {
    max-width: 640px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    max-width: 660px;
  }
}
