/* Компонент Текст */
.text {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    margin-bottom: 80px;
}

/* Адаптивная верстка  */
@media screen and (max-width:1024px) {
    .text {
        max-width: 694px;
    }

}

@media screen and (max-width:768px) {
    .text {
        max-width: 100%;
    }

}

@media screen and (max-width:480px) {
    .text {
        margin-bottom: 60px;
    }

}


