.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .8);
  transition: opacity 0.3s linear;
  z-index: 100;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  position: relative;
  max-width: 920px;
  box-sizing: border-box;
  width: 100%;
  padding: 0 75px 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #252525;
  border-radius: 8px;
}

.modal__close-button {
  position: absolute;
  top: calc(100% + 16px);
  left: 50%;
  transform: translate(-50%);

  border: 2px solid #fff;
  border-radius: 30px;
  padding: 8px 20px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  font-size: inherit;
  line-height: inherit;
  overflow: hidden;
  transition: box-shadow .2s ease-out;
  -webkit-tap-highlight-color: transparent;
}

.modal__close-button:focus {
  outline: none;
}

.modal__close-button:hover {
  box-shadow: 0 0 8px 4px #ffffff40;
}

.modal__iframe-container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.modal__iframe {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: none;
}

.modal__title {
  margin: 45px auto;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .modal__content {
    max-width: 804px;
    padding: 0 50px 50px;
  }

  .modal__title {
    margin: 35px auto;
  }

  .modal__close-button {
    padding: 8px 18px;
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .modal__content {
    padding: 0 44px 44px;
  }
}

@media screen and (max-width: 600px) {
  .modal__title {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) and (min-height: 551px) {
  .modal {
    padding: 0 10px;
  }

  .modal__content {
    padding: 0 14px 104px;
  }

  .modal__title {
    margin: 30px auto 44px;
    font-size: 12px;
  }

  .modal__close-button {
    padding: 7px 16px;
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) and (max-height: 550px) {
  .modal {
    padding: 0 10px;
  }

  .modal__content {
    padding: 0 14px 30px;
  }

  .modal__title {
    margin: 30px auto 30px;
    font-size: 12px;
  }

  .modal__close-button {
    padding: 7px 16px;
    font-size: 12px;
  }
}
