.social-networks {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}

.social-networks__item {
  margin-left: 14px;
  width: 22px;
  height: 22px;
  transition: opacity .2s ease-out;
}

.social-networks__item:first-of-type {
  margin-left: 0;
}

.social-networks__item:hover {
  opacity: .5;
}

.social-networks__link {
  -webkit-tap-highlight-color: transparent;
}

@media screen and (max-width: 1024px) {
  .social-networks__item {
    margin-left: 15px;
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 768px) {
  .social-networks__item {
    margin-left: 12px;
    width: 18px;
    height: 18px;
  }
}