.cover-wrapper {
  grid-area: cover;
  width: 176px;
  height: 176px;
  margin-bottom: 30px;
  box-sizing: content-box;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
}

.cover {
  display: none;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: none;
  object-fit: cover;
  object-position: center;
}

.cover_visible {
  display: block;
}

@media screen and (max-width: 768px) {
  .cover-wrapper {
    width: 160px;
    height: 160px;
  }
}

@media screen and (max-width: 480px) {
  .cover-wrapper {
    position: static;
    width: 240px;
    height: 240px;
    margin-bottom: 20px;
    justify-self: center;
  }
}

@media screen and (max-width: 480px) and (max-height: 670px) {
  .cover-wrapper {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 480px) and (max-height: 620px) {
  .cover-wrapper {
    height: 150px;
  }
}

@media screen and (max-width: 480px) and (max-height: 550px) {
  .cover-wrapper {
    display: none;
  }
}

@media screen and (orientation: landscape) and (max-height: 550px) {
  .cover-wrapper {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
}

@media screen and (orientation: landscape) and (max-height: 480px) {
  .cover-wrapper {
    display: none;
  }
}
