.player__controller {
  grid-area: player;
  height: 100%;
  display: grid;
  grid-template-columns: 206px 1fr min-content;
  grid-template-rows: min-content min-content;
  align-items: center;
  grid-template-areas:
    "btns song timer"
    "btns line line ";
}

.player__controllers {
  grid-area: btns;
  display: flex;
  align-items: center;
  margin-left: 2px;
  margin-top: -16px;
}

.player__song-container {
  grid-area: song;
  padding-bottom: 36px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  mask-image: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 99%,
    rgba(0, 0, 0, 0) 100%
  ); 
}

.player__song-container_masked {
  mask-image: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 2%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 98%,
    rgba(0, 0, 0, 0) 100%
  ); 
}

.player__song {
  margin: 0;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  font-size: 14px;
  font-weight: 500;
}

.player__song-accent {
  font-weight: 400;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .player__controller {
    grid-template-columns: 180px 1fr min-content;
  }

  .player__controllers {
    margin-left: -6px;
  }
}

@media screen and (max-width: 480px) {
  .player__controller {
    grid-template-columns: 1fr min-content;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
    "btns btns btns"
    "song song timer "
    "line line line ";
    box-sizing: border-box;
    padding-bottom: 18px;
  }

  .player__controllers {
    justify-self: center;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .player__song-container {
    padding-bottom: 28px;
  }
}

@media screen and (max-width: 480px) and (max-height: 670px) {
  .player__controllers {
    margin-bottom: 15px;
  }
}
