.cover-wrapper {
  grid-area: cover;
  width: 100%;
  padding-right: 26px;
  margin-top: -4px;
  box-sizing: border-box;
}

.cover {
  width: 176px;
  padding-bottom: 100%;
  border-radius: 4px;
  background-color: #c4c4c4;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
  .cover-wrapper {
    margin-top: -6px;
  }

  .cover {
    width: 164px;
  }
}

@media screen and (max-width: 768px) {
  .cover-wrapper {
    margin-top: 0;
    padding-top: 15px;
    padding-right: 30px;
  }
  
  .cover {
    width: 112px;
  }
}

@media screen and (max-width: 480px) and (min-height: 551px) {
  .cover-wrapper {
    justify-self: center;
    max-width: 240px;
    padding-right: 0;
    margin-top: 0;
  }
  
  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 480px) and (max-height: 550px) {
  .cover-wrapper {
    justify-self: center;
    max-width: 160px;
    padding-right: 0;
    margin-top: 0;
  }
  
  .cover {
    width: 100%;
  }
}
