.player__switcher {
  grid-area: switcher;
  width: 135px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 20px;
  background: center no-repeat transparent;
  margin-left: 10px;
  margin-top: -4px;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  display: block;
  transition: box-shadow .2s ease-out;
  cursor: pointer;
}

.player__switcher-text {
  margin: 0;
  padding: 0;
  opacity: 0;
}

.player__switcher-text_loading {
  transition: opacity .5s ease-in-out, transform .2s ease-out;
  opacity: 1;
}

.player__switcher:hover {
  box-shadow: 0 0 8px 4px #ffffff40;
}
.player__switcher:hover .player__switcher-text {
  transform: skewX(-9deg);
}

.player__switcher:active, .player__switcher:focus {
  outline: none;
}

@media screen and (max-width: 1024px) { 
  .player__switcher {
    width: 125px;
    height: 34px;
    margin-top: -6px;
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .player__switcher {
    width: 100%;
    min-width: 125px;
    height: 30px;
    margin-top: 22px;
    margin-bottom: 20px;
    margin-left: 0;
    font-size: 12px;
  }
}
