.player__info {
  grid-area: info;
  display: none;
  overflow: hidden;
  height: 144px;
  padding-top: 30px;
}

.player__info_active {
  display: block;
}

.player__tracks {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.player__text-line {
  margin: 0;
  font-style: italic;
  line-height: 1.35;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.player__info-header {
  font-weight: 400;
  margin: 0 0 16px 0;
  font-style: italic;
}

@media screen and (max-width: 1024px) {
  .player__info {
    font-size: 18px;
    padding-top: 28px;
  }

  .player__info-header {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  .player__info {
    max-height: 102px;
  }
}

@media screen and (max-width: 480px) {
  .player__info {
    font-size: 14px;
    padding-top: 30px;
  }

  .player__info-header {
    margin-bottom: 10px;
  }
}
