.player__content {
  opacity: 0;
  /* transition: opacity .5s ease-in-out; */
}

.player__content_loaded {
  transition: opacity .5s ease-in-out;
  opacity: 1;
}

.player__tracks {
  list-style-type: none;
  padding: 4px 0 6px;
  margin: 0;
}

.player__text-line {
  max-width: 100%;
  margin: 0;
  font-style: italic;
  line-height: 1.4;
  font-weight: 500;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.player__text-line:last-child {
  padding-bottom: 22px;
}
