.player__controller {
  grid-area: player;
  height: 100%;
  display: grid;
  grid-template-columns: 16px 1fr min-content;
  grid-template-rows: min-content min-content;
  gap: 6px 20px;
  align-items: center;
  grid-template-areas:
    "btn song timer"
    " .  line line ";
  
}

.player__control-btn {
  grid-area: btn;
  padding: 0;
  border: none;
  outline: none;
  width: 16px;
  height: 20px;
  background: center no-repeat transparent;
}

.player__control-btn:hover {
  cursor: pointer;
}

.player__song-container {
  grid-area: song;
  padding-bottom: 30px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

.player__song-container_masked {
  mask-image: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0,0,0,1) 5%,
    rgba(0,0,0,1) 50%,
    rgba(0,0,0,1) 95%,
    rgba(0,0,0,0) 100%); 
}

.player__song {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .player__controller {
    row-gap: 2px;
  }

  .player__control-btn {
    align-self: start;
  }
}

@media screen and (max-width: 480px) {
  .player__controller {
    gap: 8px 12px;
  }

  .player__song-container {
    padding-bottom: 18px;
  }
  
  .player__control-btn {
    width: 16px;
    height: 16px;
    background-size: contain;
  }
}
