.player__content {
  opacity: 0;
}

.player__content_loading {
  transition: opacity .5s ease-in-out;
  opacity: 1;
}

.player__tracks {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.player__text-line {
  max-width: calc(100% - 56px);
  margin: 0;
  font-style: italic;
  line-height: 1.4;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.player__text-line:last-child {
  padding-bottom: 14px;
}

.player__info-header {
  margin: 0 0 16px 0;
  font-weight: 400;
  font-style: italic;
}

@media screen and (max-width: 1024px) {
  .player__info-header {
    margin-bottom: 15px;
  }

  .player__text-line:last-child {
    padding-bottom: 12px;
  }
}

@media screen and (max-width: 768px) {
  .player__text-line:last-child {
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .player__info-header {
    margin-bottom: 14px;
  }
}
