.player__extend-btn {
  grid-area: extend-btn;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  outline: none;
  background: top right no-repeat transparent;
  justify-self: end;
  -webkit-tap-highlight-color: transparent;
}

.player__extend-btn:hover {
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .player__extend-btn {
    width: 16px;
    height: 16px;
    background-size: contain;
  }
}
