.player__info-container {
  grid-area: info;
  height: 112px;
  padding-top: 22px;
  padding-bottom: 10px;
  margin-bottom: -100%;
  overflow: hidden;
  transition: margin 1s;
}

.player__scrollbars {
  height: 118px;
}

.player__info-container_active {
  margin-bottom: 0;
}

.player__scroll-box {
  padding-top: 4px;
  padding-bottom: 10px;
  width: calc(100% + 60px);
  mask-image: -webkit-linear-gradient(
  top,
  rgba(0, 0, 0, 0) 0%,
  rgba(0,0,0,1) 8%,
  rgba(0,0,0,1) 78%,
  rgba(0,0,0,0) 80%);
}

.player__scroll-box-thumb {
  border-radius: 4px;
  background-color: rgba( 255, 255, 255, 0.3);
}

.player__scroll-box-track {
  right: 2px;
  bottom: 10px;
  top: 2px;
  border-radius: 4px;
  background-color: rgba( 243, 243, 243, 0.1);
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar-track:vertical { 
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb:vertical {
  background: #c1c1c1;
  border: 1px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: #b6b6b6;
  border: 1px solid #f1f1f1;
}

::-webkit-scrollbar-button:vertical:decrement {
  border: 1px solid #f1f1f1;
  background-image: url(../../images/arrowUp.svg);
  background-size: 50%;
  background-position: center center;
  background-repeat: no-repeat;
}

::-webkit-scrollbar-button:vertical:increment {
  border: 1px solid #f1f1f1;
  background-image: url(../../images/arrowDown.svg);
  background-size: 50%;
  background-position: center center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
  .player__info-container {
    max-height: 102px;
    padding-top: 20px;
  }

  .player__scroll-box-track {
    bottom: 6px;
  }

  .player__scroll-box {
    mask-image: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0,0,0,1) 8%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0) 82%);
  }
}

@media screen and (max-width: 768px) {
  .player__info-container {
    padding-top: 0;
  }
  
  .player__scroll-box {
    mask-image: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0,0,0,1) 4%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0) 82%);
  }
}

@media screen and (max-width: 480px) {
  .player__info-container {
    max-height: 88px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
