.player {
  display: grid;
  grid-template-columns: min-content 35px 1fr max-content 42px;
  grid-template-rows: min-content 1fr;
  grid-template-areas: 
    "cover player player buttons extend-btn"
    "cover    .   info    info       .     ";
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 120px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.player__buttons-wrapper {
  grid-area: buttons;
  margin-top: -4px;
  margin-left: 10px;
}

@media screen and (min-width: 1280px) {
  .player {
    max-width: 1230px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1024px) {
  .player {
    font-size: 18px;
  }

  .player__buttons-wrapper {
    margin-top: -6px;
  }
}

@media screen and (max-width: 768px) {
  .player {
    margin-bottom: 8px;
    grid-template-columns: 35px min-content 1fr max-content 44px;
    grid-template-areas: 
    "player player player buttons extend-btn"
    "   .   cover   info   info        .    ";
  }

  .player__buttons-wrapper {
    margin-left: 14px;
  }
}

@media screen and (max-width: 600px) {
  .player {
    grid-template-rows: min-content min-content 1fr;
    grid-template-columns: 35px min-content 1fr 44px;
    grid-template-areas:
      "player  player  player  extend-btn "
      "  .    buttons  buttons     .      "
      "  .     cover    info       .      ";
    margin-left: 0;
    margin-right: 0;
    font-size: 16px;
  }

  .player__buttons-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
  }
}

@media screen and (max-width: 480px) {
  .player {
    grid-template-rows: min-content min-content min-content 1fr;
    grid-template-columns: 26px min-content 1fr 26px;
    grid-template-areas: 
      "player  player  player  extend-btn "
      "  .     cover   cover       .      "
      "  .    buttons  buttons     .      "
      "  .     info    info        .      ";
    margin-bottom: 16px;
    font-size: 14px;
    padding-top: 15px;
  }

  .player__buttons-wrapper {
    margin-top: 22px;
    margin-bottom: 22px;
  }
}
