.player__video-link {
  width: intrinsic;           
  width: -moz-max-content;    
  width: -webkit-max-content; 
  height: 35px;
  border: 4px solid #fff;
  border-radius: 30px;
  font-size: 16px;
  display: none;
  padding: 4px 20px 0 14px;
  margin-right: 0; 
  text-decoration: none;
  font-weight: 500;
  box-sizing: border-box;
  text-align: center;
  transition: box-shadow .2s ease-out;
  background: #fff;
  color: #000;
  mix-blend-mode: lighten;
}

.player__video-link:focus {
  outline: none;
  box-shadow: 0 0 8px 4px #ffffff40;
}

.player__video-link-wrapper {
  display: inline-block;
  background-image: url('../../images/background.png');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
  margin-right: 10px;
}

.player__video-link_active {
  display: inline-block;
}

.player__video-link:hover {
  box-shadow: 0 0 8px 4px #ffffff40;
}

.player__video-btn-text {
  display: inline-block;
  transition: transform .2s ease-out;
}

.player__video-link:hover .player__video-btn-text {
  transform: skewX(-9deg);
}

.player__video-icon {
  display: inline-block;
  width: 9px;
  height: 11px;
  background-image: url(../../images/play-icon-btn.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 4px;
}

@media screen and (max-width: 1024px) {
  .player__video-link {
    height: 34px;
    font-size: 15px;
    padding-top: 5px;
  }
}

@media screen and (max-width: 600px) {
  .player__video-link {
    flex-grow: 1;
    height: 30px;
    padding-right: 15px;
    padding-left: 10px;
    margin-right: 0px;
    font-size: 12px;

  }

  .player__video-link-wrapper {
    margin-right: 5px;
  }

  .player__video-icon {
    width: 7px;
    height: 9px;
  }
}
