.player__extend-btn {
  grid-area: extend-btn;
  padding: 0;
  border: none;
  outline: none;
  width: 24px;
  height: 24px;
  background: center no-repeat transparent;
  justify-self: end;
}

.player__extend-btn:hover {
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .player__extend-btn {
    width: 16px;
    height: 16px;
    background-size: contain;
  }
}
