@-webkit-keyframes rotation {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(359deg); }
}
@keyframes rotation {
	from { transform: rotate(0deg); }
	to { transform: rotate(359deg); }
}

.spinner {
  width: 50%;
  padding-bottom: 50%;
  box-sizing: border-box;
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.spinner__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clear: both;
  border: 4px rgba(255, 255, 255, 0.25) solid;
  border-top: 4px rgba(255, 255, 255, 1) solid;
  border-radius: 50%;
  box-sizing: border-box;
  -webkit-animation: rotation 1s infinite linear;
  animation: rotation 1s infinite linear;
}

.spinner_hidden {
  display: none;
}